{
  "openapi": "3.0.3",
  "info": {
    "title": "Sperax Crypto API",
    "description": "Real-time cryptocurrency prices, market data, DeFi analytics, news, and more. Aggregates 500+ data sources including CoinGecko, DefiLlama, CoinCap, CoinPaprika, and 12+ news providers. Zero API keys required for core endpoints.",
    "version": "1.0.0",
    "contact": {
      "name": "Sperax",
      "url": "https://sperax.io",
      "email": "nirholas@users.noreply.github.com"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://github.com/nirholas/free-crypto-news/blob/main/LICENSE"
    }
  },
  "servers": [
    {
      "url": "https://crypto.mcloudapi.com",
      "description": "Alibaba Cloud API Gateway (production)"
    },
    {
      "url": "https://cryptocurrency.cv/api",
      "description": "Direct backend (origin)"
    }
  ],
  "paths": {
    "/v1/prices": {
      "get": {
        "operationId": "getPrices",
        "summary": "Get cryptocurrency prices",
        "description": "Fetch real-time prices for specified cryptocurrencies. Supports 10,000+ tokens via SperaxOS. Multi-source fallback chain ensures 99.9% uptime.",
        "tags": ["Prices"],
        "parameters": [
          {
            "name": "coins",
            "in": "query",
            "required": true,
            "description": "Comma-separated coin IDs (e.g., bitcoin,ethereum,solana)",
            "schema": {
              "type": "string",
              "example": "bitcoin,ethereum,solana"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Price data for requested coins",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "object",
                    "properties": {
                      "usd": { "type": "number", "example": 67432.15 },
                      "usd_24h_change": { "type": "number", "example": 2.34 }
                    }
                  }
                },
                "example": {
                  "bitcoin": { "usd": 67432.15, "usd_24h_change": 2.34 },
                  "ethereum": { "usd": 3521.82, "usd_24h_change": -0.45 },
                  "solana": { "usd": 142.67, "usd_24h_change": 5.12 }
                }
              }
            }
          }
        }
      }
    },
    "/v1/global": {
      "get": {
        "operationId": "getGlobalMarketData",
        "summary": "Global cryptocurrency market overview",
        "description": "Total market cap, 24h volume, BTC/ETH dominance, and active cryptocurrency counts.",
        "tags": ["Market Data"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Global market data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "object",
                      "properties": {
                        "active_cryptocurrencies": { "type": "integer" },
                        "total_market_cap": { "type": "object" },
                        "total_volume": { "type": "object" },
                        "market_cap_percentage": { "type": "object" },
                        "market_cap_change_percentage_24h_usd": { "type": "number" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/news": {
      "get": {
        "operationId": "getCryptoNews",
        "summary": "Aggregated crypto news headlines",
        "description": "Curated news from 12+ sources including CoinDesk, The Block, Decrypt, CoinTelegraph, and more. Supports filtering by source, category, language, and date range.",
        "tags": ["News"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of articles to return",
            "schema": { "type": "integer", "default": 10, "maximum": 50 }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Filter by news source",
            "schema": { "type": "string" }
          },
          {
            "name": "category",
            "in": "query",
            "required": false,
            "description": "Filter by category (e.g., defi, bitcoin, ethereum, nft)",
            "schema": { "type": "string" }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Language code (ISO 639-1)",
            "schema": { "type": "string", "default": "en" }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "Page number for pagination",
            "schema": { "type": "integer", "default": 1 }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Articles per page",
            "schema": { "type": "integer", "default": 10 }
          }
        ],
        "responses": {
          "200": {
            "description": "News articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "articles": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "title": { "type": "string" },
                          "description": { "type": "string" },
                          "link": { "type": "string", "format": "uri" },
                          "content": { "type": "string" },
                          "summary": { "type": "string" }
                        }
                      }
                    },
                    "lang": { "type": "string" },
                    "availableLanguages": {
                      "type": "array",
                      "items": { "type": "string" }
                    },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/trending": {
      "get": {
        "operationId": "getTrendingTopics",
        "summary": "Trending crypto topics and narratives",
        "description": "AI-analyzed trending topics extracted from recent crypto news. Includes sentiment analysis and headline context.",
        "tags": ["Market Intelligence"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of topics to return",
            "schema": { "type": "integer", "default": 10, "maximum": 20 }
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "description": "Time window in hours for trending analysis",
            "schema": { "type": "integer", "default": 24, "maximum": 72 }
          }
        ],
        "responses": {
          "200": {
            "description": "Trending topics with sentiment",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "trending": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "topic": { "type": "string" },
                          "count": { "type": "integer" },
                          "sentiment": { "type": "string", "enum": ["bullish", "bearish", "neutral"] },
                          "recentHeadlines": { "type": "array", "items": { "type": "string" } }
                        }
                      }
                    },
                    "timeWindow": { "type": "string" },
                    "articlesAnalyzed": { "type": "integer" },
                    "fetchedAt": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/fear-greed": {
      "get": {
        "operationId": "getFearGreedIndex",
        "summary": "Crypto Fear & Greed Index",
        "description": "Real-time market sentiment indicator with historical data and trend analysis. Includes sub-component breakdown (volatility, momentum, social, dominance).",
        "tags": ["Market Intelligence"],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Number of historical days to include",
            "schema": { "type": "integer", "default": 30, "maximum": 365 }
          }
        ],
        "responses": {
          "200": {
            "description": "Fear and greed index data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "current": {
                      "type": "object",
                      "properties": {
                        "value": { "type": "integer", "minimum": 0, "maximum": 100 },
                        "valueClassification": { "type": "string", "enum": ["Extreme Fear", "Fear", "Neutral", "Greed", "Extreme Greed"] },
                        "timestamp": { "type": "integer" }
                      }
                    },
                    "historical": { "type": "array", "items": { "type": "object" } },
                    "trend": {
                      "type": "object",
                      "properties": {
                        "direction": { "type": "string", "enum": ["improving", "worsening", "stable"] },
                        "change7d": { "type": "number" },
                        "change30d": { "type": "number" }
                      }
                    },
                    "lastUpdated": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/defi": {
      "get": {
        "operationId": "getDefiNews",
        "summary": "DeFi-specific news and analysis",
        "description": "Curated DeFi news covering protocols, governance, TVL changes, yield farming, and ecosystem updates.",
        "tags": ["DeFi"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 10 }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "en" }
          }
        ],
        "responses": {
          "200": {
            "description": "DeFi news articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "articles": { "type": "array", "items": { "type": "object" } },
                    "lang": { "type": "string" },
                    "availableLanguages": { "type": "array", "items": { "type": "string" } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/yields": {
      "get": {
        "operationId": "getDefiYields",
        "summary": "Top DeFi yield farming opportunities",
        "description": "Aggregated yield data covering 500+ protocols. Filter by chain, sort by APY. Includes TVL, IL risk, and stablecoin flags.",
        "tags": ["DeFi"],
        "parameters": [
          {
            "name": "chain",
            "in": "query",
            "required": false,
            "description": "Filter by blockchain (e.g., ethereum, arbitrum, bsc)",
            "schema": { "type": "string" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of pools to return",
            "schema": { "type": "integer", "default": 10, "maximum": 50 }
          }
        ],
        "responses": {
          "200": {
            "description": "Yield farming pools sorted by APY",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "chain": { "type": "string" },
                    "count": { "type": "integer" },
                    "yields": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pool": { "type": "string" },
                          "chain": { "type": "string" },
                          "project": { "type": "string" },
                          "symbol": { "type": "string" },
                          "tvlUsd": { "type": "number" },
                          "apy": {
                            "type": "object",
                            "properties": {
                              "total": { "type": "string" },
                              "base": { "type": "string" },
                              "reward": { "type": "string" }
                            }
                          },
                          "stablecoin": { "type": "boolean" },
                          "ilRisk": { "type": "string" }
                        }
                      }
                    },
                    "timestamp": { "type": "string", "format": "date-time" },
                    "source": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/gas": {
      "get": {
        "operationId": "getGasPrices",
        "summary": "Ethereum gas prices",
        "description": "Real-time Ethereum gas tracker with low/medium/high estimates and USD cost equivalents.",
        "tags": ["On-Chain"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Current gas prices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "network": { "type": "string", "example": "ethereum" },
                    "baseFee": { "type": "number" },
                    "low": {
                      "type": "object",
                      "properties": {
                        "gwei": { "type": "number" },
                        "usd": { "type": "number" }
                      }
                    },
                    "medium": {
                      "type": "object",
                      "properties": {
                        "gwei": { "type": "number" },
                        "usd": { "type": "number" }
                      }
                    },
                    "high": {
                      "type": "object",
                      "properties": {
                        "gwei": { "type": "number" },
                        "usd": { "type": "number" }
                      }
                    },
                    "lastBlock": { "type": "string" },
                    "timestamp": { "type": "string", "format": "date-time" },
                    "source": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges": {
      "get": {
        "operationId": "getExchanges",
        "summary": "Cryptocurrency exchange rankings",
        "description": "Top exchanges ranked by trust score, including fees, coin count, 24h volume, KYC status, and regulation info.",
        "tags": ["Market Data"],
        "parameters": [
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field",
            "schema": { "type": "string", "enum": ["trust", "rating", "coins", "fees"], "default": "trust" }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 50 }
          }
        ],
        "responses": {
          "200": {
            "description": "Exchange rankings",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exchanges": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string" },
                          "name": { "type": "string" },
                          "trustScore": { "type": "integer" },
                          "volume24h": { "type": "string" },
                          "coins": { "type": "integer" },
                          "makerFee": { "type": "string" },
                          "takerFee": { "type": "string" },
                          "kyc": { "type": "string" },
                          "regulated": { "type": "boolean" }
                        }
                      }
                    },
                    "total": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/stablecoins": {
      "get": {
        "operationId": "getStablecoins",
        "summary": "Stablecoin market data",
        "description": "Stablecoin rankings by market cap with peg type, price, and multi-chain distribution.",
        "tags": ["Market Data"],
        "parameters": [
          {
            "name": "chains",
            "in": "query",
            "required": false,
            "description": "Set to 'true' for chain breakdown view",
            "schema": { "type": "boolean", "default": false }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 50 }
          }
        ],
        "responses": {
          "200": {
            "description": "Stablecoin data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "type": { "type": "string" },
                    "totalMarketCap": { "type": "number" },
                    "count": { "type": "integer" },
                    "data": { "type": "array", "items": { "type": "object" } },
                    "timestamp": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/bitcoin": {
      "get": {
        "operationId": "getBitcoinNews",
        "summary": "Bitcoin-specific news",
        "description": "Curated Bitcoin news including price analysis, network updates, mining, and institutional adoption.",
        "tags": ["News"],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 10 }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "default": "en" }
          }
        ],
        "responses": {
          "200": {
            "description": "Bitcoin news articles",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "articles": { "type": "array", "items": { "type": "object" } },
                    "lang": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/whale-alerts": {
      "get": {
        "operationId": "getWhaleAlerts",
        "summary": "Large transaction whale alerts",
        "description": "Real-time monitoring of large cryptocurrency transfers. Identifies exchange deposits/withdrawals and whale movements.",
        "tags": ["On-Chain"],
        "parameters": [
          {
            "name": "blockchain",
            "in": "query",
            "required": false,
            "description": "Filter by blockchain",
            "schema": { "type": "string", "enum": ["all", "ethereum", "bitcoin"], "default": "all" }
          },
          {
            "name": "minValue",
            "in": "query",
            "required": false,
            "description": "Minimum transaction value in USD",
            "schema": { "type": "integer", "default": 100000 }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 50 }
          }
        ],
        "responses": {
          "200": {
            "description": "Whale alert transactions with summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "alerts": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "blockchain": { "type": "string" },
                          "symbol": { "type": "string" },
                          "amount": { "type": "number" },
                          "amountUsd": { "type": "number" },
                          "from": { "type": "object" },
                          "to": { "type": "object" },
                          "hash": { "type": "string" },
                          "transactionType": { "type": "string" },
                          "significance": { "type": "string", "enum": ["normal", "notable", "massive"] }
                        }
                      }
                    },
                    "summary": {
                      "type": "object",
                      "properties": {
                        "totalTransactions": { "type": "integer" },
                        "totalValueUsd": { "type": "number" },
                        "exchangeDeposits": { "type": "integer" },
                        "exchangeWithdrawals": { "type": "integer" }
                      }
                    },
                    "lastUpdated": { "type": "string", "format": "date-time" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/liquidations": {
      "get": {
        "operationId": "getLiquidations",
        "summary": "Futures liquidation data",
        "description": "Real-time long/short liquidation aggregates across major exchanges. Sourced from CoinGlass and Binance.",
        "tags": ["Derivatives"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Liquidation data by symbol with recent events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "bySymbol": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "symbol": { "type": "string" },
                          "longLiquidationUsd": { "type": "number" },
                          "shortLiquidationUsd": { "type": "number" },
                          "totalLiquidationUsd": { "type": "number" }
                        }
                      }
                    },
                    "totals": {
                      "type": "object",
                      "properties": {
                        "totalLongs": { "type": "number" },
                        "totalShorts": { "type": "number" },
                        "totalUsd": { "type": "number" }
                      }
                    },
                    "source": { "type": "string" },
                    "timestamp": { "type": "integer" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/derivatives": {
      "get": {
        "operationId": "getDerivatives",
        "summary": "Futures and perpetual contract data",
        "description": "Derivatives tickers including open interest, funding rates, and 24h volume across major perpetual contract markets.",
        "tags": ["Derivatives"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Derivatives market data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/v1/health": {
      "get": {
        "operationId": "getHealthCheck",
        "summary": "API health check",
        "description": "System health status including API availability, cache connectivity, and external service status.",
        "tags": ["System"],
        "parameters": [],
        "responses": {
          "200": {
            "description": "Health check result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "enum": ["healthy", "degraded", "unhealthy"] },
                    "timestamp": { "type": "string", "format": "date-time" },
                    "version": { "type": "string" },
                    "uptime": { "type": "number" },
                    "checks": { "type": "object" }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "tags": [
    { "name": "Prices", "description": "Real-time cryptocurrency prices from multiple sources" },
    { "name": "Market Data", "description": "Global market statistics, exchange rankings, and stablecoin data" },
    { "name": "News", "description": "Aggregated crypto news from 12+ sources" },
    { "name": "Market Intelligence", "description": "Sentiment analysis, trending topics, and Fear & Greed Index" },
    { "name": "DeFi", "description": "DeFi protocol data, yields, and TVL analytics" },
    { "name": "On-Chain", "description": "Gas prices, whale alerts, and on-chain activity" },
    { "name": "Derivatives", "description": "Futures, perpetuals, liquidations, and open interest" },
    { "name": "System", "description": "API health and status endpoints" }
  ],
  "components": {
    "securitySchemes": {
      "AppCode": {
        "type": "apiKey",
        "name": "Authorization",
        "in": "header",
        "description": "Alibaba Cloud Marketplace AppCode authentication. Format: 'APPCODE <your-appcode>'"
      }
    }
  },
  "security": [
    { "AppCode": [] }
  ]
}
